@import '../../theme/mixins';

.AuthFooter {
  display: block;
  color: var(--color-neutral-02);
  font-weight: 300;
  margin: -3px 0 -4px;
}

.AuthFooterText {
  color: var(--color-main);
  margin: 15px;
  text-align: center;
}

.AuthFooterLink {
  margin-left: 3px;
  display: inline;
  @include link();
}
