@import '../../theme/mixins';

$headerHeight: 72px;
$additionalWidth: 335px;

.Post {
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.Article {
  background: var(--whiteColor);
  width: 100%;
  @include whiteBox();
}

.Header {
  height: $headerHeight;
  width: $additionalWidth;
  position: absolute;
  right: 0;

  @media screen and (max-width: 830px) {
    display: none;
  }
}

.Content {
  justify-content: center;
  margin-right: $additionalWidth;
  min-height: 450px;
  background-color: var(--bgColor);

  @media screen and (max-width: 830px) {
    margin-right: 0;
    min-height: 0;
  }
}

.Additional {
  position: absolute;
  right: 0;
  bottom: 0;
  top: $headerHeight;
  width: $additionalWidth;
  border-left: 1px solid var(--headerColorBorder);
  background-color: var(--whiteColor);

  @media screen and (max-width: 830px) {
    position: relative;
    width: 100%;
    top: 0;
    border: 1px solid var(--headerColorBorder);
  }
}

.Comments {
  @media screen and (max-width: 830px) {
    min-height: 200px;
  }
}

.Actions {
  border-top: 1px solid var(--headerColorBorder);
}
