@import '../../theme/mixins';

$headerHeight: 60px;
$additionalWidth: 335px;

.Post {
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.Article {
  background: var(--color-light);
  width: 100%;
  @include whiteBox();
}

.Header {
  height: $headerHeight;
  width: $additionalWidth;
  position: absolute;
  right: 0;

  @media (max-width: 830px) {
    display: none;
  }
}

.Content {
  justify-content: center;
  margin-right: $additionalWidth;
  min-height: 450px;
  background-color: var(--color-bg);

  @media (max-width: 830px) {
    margin-right: 0;
    min-height: 0;
  }
}

.Additional {
  position: absolute;
  right: 0;
  bottom: 0;
  top: $headerHeight;
  width: $additionalWidth;
  border-left: 1px solid var(--color-border-02);
  background-color: var(--color-light);

  @media (max-width: 830px) {
    position: relative;
    width: 100%;
    top: 0;
    border: 1px solid var(--color-border-02);
  }
}

.Comments {
  @media (max-width: 830px) {
    min-height: 180px;
    order: 4;
  }
}

.Actions {
  border-top: 1px solid var(--color-border-02);

  @media (max-width: 830px) {
    border: 0;
    order: 1;
  }
}

.Posts {
  flex-grow: 1;
  padding-top: 6vh;
}

.Likes {
  @media (max-width: 830px) {
    order: 2;
  }
}

.TimeAgo {
  @media (max-width: 830px) {
    order: 3;
  }
}

.AddComment {
  order: 5;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
  padding-bottom: 100px;

  @media (max-width: 735px) {
    grid-gap: 0;
  }
}

.MoreLoading {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.MorePosts {
  font-weight: 600;
  color: var(--color-neutral-02);
  margin-bottom: 20px;

  a {
    margin-left: var(--spacing-xxs);
    color: var(--color-main);
  }

  @media (max-width: 735px) {
    margin-left: var(--spacing-xs);
  }
}

.Back {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  transform: rotate(-90deg);
}
