.Header {
  flex-direction: row;

  @media (min-width: 736px) {
    margin-bottom: 44px;
  }

  @media (max-width: 735px) {
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-m);
    margin-top: 30px;
    border-bottom: none;
    margin-bottom: 24px;
    padding-bottom: 0;

    .ProfileBio, .ProfileInfo {
      display: none;
    }
  }
}

.ProfilePhoto {
  flex-shrink: 0;

  @media (min-width: 736px) {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 30px;
  }

  @media (max-width: 735px) {
    margin-right: 28px;
  }

  &Container {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;

    @media (max-width: 735px) {
      width: 77px;
      height: 77px;
    }
  }

  &Block {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bgColor);
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;

    &:after {
      content: "";
      border: 1px solid rgba(0, 0, 0, .0975);
      border-radius: 50%;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &Change {
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.Profile {
  flex-basis: 30px;
  flex-grow: 2;
  flex-shrink: 1;
  min-width: 0;

  &Settings {
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
    flex-shrink: 1;
    min-width: 0;

    @media (max-width: 735px) {
      margin-bottom: 12px;
      align-items: flex-start;
      height: 80px;
    }

    h1 {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 300;
      font-size: 28px;
      line-height: 32px;
      margin: -5px 0 -6px;
    }
  }

  &Edit {
    margin-left: 20px;
    flex-shrink: 0;
    display: block;

    @media (max-width: 735px) {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-left: 0;
    }
  }

  &SettingIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xs);
    background: 0 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: 5px;

    @media (max-width: 735px) {
      margin-top: -8px;
    }
  }

  &Info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    &Stat {
      margin-left: 0;
      font-size: var(--medium-font);
      margin-right: 40px;
      cursor: pointer;

      &:first-child {
        cursor: default;
      }

      > span {
        color: inherit;
        text-transform: lowercase;

        > span {
          font-weight: 600;
        }
      }
    }

    &.ProfileInfoMobile {
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid var(--borderColor);
      padding: 12px 0;
      margin-bottom: 0;

      .ProfileInfoStat {
        margin-right: 0;
      }

      @media (min-width: 736px) {
        display: none;
      }
    }
  }

  &Bio {
    font-size: var(--medium-font);
    line-height: 24px;
    word-wrap: break-word;

    h2 {
      display: inline;
      font-weight: 600;
    }

    a {
      font-weight: 600;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.ProfileBioMobile {
      padding: 0 var(--spacing-m);
      font-size: var(--base-font);

      @media (min-width: 736px) {
        display: none;
      }
    }
  }
}

.Navigation {
  flex-direction: row;
  font-size: var(--small-font);
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  border-top: 1px solid var(--borderColor);

  @media (max-width: 735px) {
    justify-content: space-between;
  }

  &Item {
    color: var(--darkGrayColor);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 52px;
    margin-right: 60px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -1px;
    cursor: not-allowed;

    svg {
      fill: var(--darkGrayColor);
    }

    &.active {
      color: var(--blackColor);
      border-top: 1px solid var(--blackColor);
      cursor: pointer;

      svg {
        fill: var(--blackColor);
      }
    }

    @media (max-width: 735px) {
      font-size: 0;
      margin: 0 var(--spacing-xl);
      width: 32px;

      svg {
        width: 24px;
        height: 24px;
      }

      &.active {
        border-top: none;

        svg {
          fill: var(--blueColor);
        }
      }
    }
  }

  &Icon {
    display: flex;
    align-items: center;

    span {
      margin-left: 6px;

      @media (max-width: 735px) {
        display: none;
      }
    }
  }
}

.Posts {
  flex-grow: 1;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;

  @media (max-width: 735px) {
    grid-gap: 0;
  }
}

.UploadPhotoForm {
  input {
    display: none!important;
  }
}

.Skeleton {
  &Button {
    margin-left: 20px;
  }
}
