header {
  @media (max-width: 735px) {
    .ProfileBio, .ProfileInfo {
      display: none;
    }
  }
}

.Profile {

  &Info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    &Stat {
      margin-left: 0;
      font-size: var(--medium-font);
      margin-right: 40px;
      cursor: pointer;

      &:first-child {
        cursor: default;
      }

      > span {
        color: inherit;
        text-transform: lowercase;

        .Count {
          font-weight: 600;
        }
      }
    }

    &.ProfileInfoMobile {
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid var(--borderColor);
      padding: 12px 0;
      margin-bottom: 0;

      .ProfileInfoStat {
        margin-right: 0;

        > span {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: var(--base-font);
          color: var(--darkGrayColor);

          .Count {
            color: var(--blackColor);
          }
        }
      }

      @media (min-width: 736px) {
        display: none;
      }
    }
  }

  &Bio {
    font-size: var(--medium-font);
    line-height: 24px;
    word-wrap: break-word;

    h2 {
      display: inline;
      font-weight: 600;
    }

    a {
      font-weight: 600;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.ProfileBioMobile {
      padding: 0 var(--spacing-m);
      font-size: var(--base-font);

      @media (min-width: 736px) {
        display: none;
      }
    }
  }
}
