@import '../../theme/mixins';

.Content {
  @include contentBlock();
}

.Box {
  padding: 10px 0;
  margin: 0 0 10px;
  @include whiteBox()
}

.Logo {
  @include logoInstagram();
}

.Controls {
  margin-bottom: 10px;
}

.Form {
  display: flex;
  flex-direction: column;
}

.SpacingL {
  margin-bottom: var(--spacing-l);
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.Control {
  margin: 0 40px 6px;
}

.Submit {
  margin: 8px 40px
}

.SocialLogin {
  margin: 8px 40px 8px;
  flex: 0 0 auto;
  justify-content: flex-start;
}

.FacebookButton {
  border: 0;
  color: var(--color-accent);
  display: inline;
  padding: 0;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
  background: 0 0;
}

.FacebookIcon {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 3px;
  background-position: -320px -224px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.ForgotPassword {
  @include smallLink();

  &:hover, &:visited, &:active {
    @include smallLink();
  }
}

.SingUp {
  display: block;
  color: var(--color-neutral-02);
  font-weight: 300;
  margin: -3px 0 -4px;
}

.SignUpText {
  margin: 15px;
  text-align: center;
}

.SignUpLink {
  margin-left: 3px;
  display: inline;
  @include link();
}

.Error {
  color: var(--color-danger);
  margin: 10px 40px;
  text-align: center;
}
