@import '../../theme/mixins';

.Container {
  position: relative;
  padding-top: var(--spacing-xl);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  flex-grow: 1;
}

.Title {
  font-weight: 600;
  font-size: var(--medium-font);
  line-height: 24px;
}

.Wrapper {
  margin-top: var(--spacing-m);
  flex: 0 0 auto;
  justify-content: flex-start;
  @include whiteBox();
}

.RecommendedUsers {
  padding: var(--spacing-xs) 0;
  flex: 0 0 auto;
}
