.Button {
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
  border: 1px solid transparent;
  border-radius: var(--borderRadius);

  &.Primary {
    background-color: var(--blueColor);
    color: var(--whiteColor);

    &:active, &:focus {
      background-color: var(--buttonColorActive);
    }

    &:disabled {
      background-color: var(--buttonColorDisabled);
    }
  }

  &.Secondary {
    background-color: transparent;
    color: var(--blackColor);
    border: 1px solid var(--borderColor);

    &:active, &:focus {
      opacity: .7;
    }

    &:disabled {
      opacity: .3;
      pointer-events: none;
    }
  }
}

.Text {
  flex: 0 0 auto;
  justify-content: flex-start;
}
