.Button {
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  width: auto;
  background-color: var(--blueColor);
  color: var(--whiteColor);
  border: 1px solid transparent;
  border-radius: var(--borderRadius);

  &:active, &:focus {
    background-color: var(--buttonColorActive);
  }

  &:disabled {
    background-color: var(--buttonColorDisabled);
  }
}

.Text {
  flex: 0 0 auto;
  justify-content: flex-start;
}
