:root {
  --bgColor: #fafafa;
  --blackColor: #262626;
  --whiteColor: #fff;
  --blueColor: #3897f0;
  --darkBlueColor: #003569;
  --greyColor: #c7c7c7;
  --darkGrayColor: #999;
  --redColor: #ed4956;
  --boxBorder: #e6e6e6;
  --inputColorBorder: #dbdbdb;
  --headerColorBorder: #efefef;
  --buttonColorDisabled: rgba(56,151,240,.3);
  --buttonColorActive: rgba(56,151,240,.7);
}
