:root {
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 14px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 30px;
  --spacing-xxl: 60px;
  --borderRadius: 4px;
  --inputHeight: 36px;
}
