.Container {
  position: relative;
  padding-top: 60px;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  &.fullWidth {
    max-width: 935px;
    flex-flow: row nowrap;
  }

  &.extend {
    max-width: 600px;
  }

  @media (max-width: 735px) {
    padding-top: 0;
  }
}

.Feed {
  float: left;
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
}

.Posts {
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 100%;
}
