.Section {
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  overflow: hidden;
}

.Main {
  flex-grow: 1;
  order: 4;
}

.Wrapper {
  min-height: 100%;
  overflow: hidden;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 44px;
}

.Article {
  margin: 0 auto;
  max-width: 935px;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}
