@import '../../theme/mixins';

.Content {
  @include contentBlock();
}

.Box {
  padding: 10px 0;
  margin: 0 0 10px;
  @include whiteBox()
}

.Logo {
  @include logoInstagram();
}

.Control {
  margin: 0 40px 6px;
}

.Title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: var(--spacing-m) 0;
}

.Subtitle {
  margin: 0 40px 10px;
  color: var(--color-neutral-02);
  text-align: center;
  margin-bottom: var(--spacing-m);
}

.Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Button {
  align-items: center;
  margin: var(--spacing-m) 40px 0;

  button {
    width: 100%;
  }
}

.CreateAccount {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-bottom: var(--spacing-xxl);

  a {
    color: var(--color-main);
  }
}

.Error {
  color: var(--color-danger);
  margin: 10px 40px;
  text-align: center;
}

.Loading {
  align-items: center;
}
