@import '../../theme/mixins';

$headerHeight: 44px;

.Header {
  order: 0;
  background-color: var(--color-bg);
  padding: 0;

  @media (min-width: 735px) {
    display: none;
  }
}

.Wrapper {
  flex-basis: $headerHeight;
}

.Container {
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-border);
  align-items: center;
  height: $headerHeight;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: height .2s ease-in-out;
}

.Grid {
  height: $headerHeight;
  padding: 0 var(--spacing-m);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  max-width: 975px;
  width: 100%;
  transition: height .2s ease-in-out;
}

.Title {
  flex: 1 9999 0%;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
}

.Logo {
  flex: 1 9999 0%;
  min-width: 40px;

  &Container {
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

    @media (max-width: 735px) {
      justify-content: center;
    }
  }

  &Img {
    margin-top: 7px;
    transition: opacity .1s ease-out;
    width: 103px;
    height: 30px;

    img {
      min-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }
}

.LeftButton, .RightButton {
  button {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
}

.NewNotificationsCount {
  right: -12px;
  top: -8px;
  @include notificationCountLabel();
}
