@import '~reset-css/reset.css';
@import './theme/base';
@import './theme/spacing';
@import './theme/mixins';
@import './theme/zindex';
@import '~react-toastify/dist/ReactToastify.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-main);
  overflow-y: scroll;
}

body, button, input, textarea {
  color: var(--color-main);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: var(--base-font);
  line-height: var(--base-line-height);
}

#root {
  z-index: 0;
}

#root, main, section, article, div, footer, nav, header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: stretch;
  position: relative;
  border: 0 solid #000;
}

a, a:visited {
  color: var(--color-accent-dark);
  text-decoration: none;
}

button {
  outline: none;
}

.container {
  justify-content: normal;
  padding: 30px 20px 0;
  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 975px;
  margin-bottom: var(--spacing-m);

  @media (max-width: 735px) {
    padding: 0;
  }
}

.sprite {
  background-image: url('./assets/sprite.png');
}

.sprite-glyphs {
  background-image: url('./assets/sprite_glyphs.png');
}

.sprite-create {
  background-image: url('./assets/sprite_create.png');
}
